<div class="card border-dark mb-3">
  <div class="text-center card-header">

    <button *ngIf="showBack" (click)="goBack()" class="btn btn-sm btn-outline-secondary back"><i class="fa fa-arrow-left"></i> Volver</button>
    <h3 class="d-inline-block">
      {{title}}
      <footer class="text-right blockquote-footer">by {{author}}</footer>
    </h3>
  </div>
  <div class="card-body container">
    <ng-content></ng-content>
  </div>
</div>