<form class="mb-4">
  <div class="form-group">
    <label for="firstName">Nombre</label>
    <input [(ngModel)]="firstNameTxt" type="text" class="form-control" id="firstName" name="firstName" placeholder="Indique el nombre del contacto">
  </div>
  <div class="form-group">
    <label for="lastName">Apellidos</label>
    <input [(ngModel)]="lastNameTxt" type="text" class="form-control" id="lastName" name="lastName" placeholder="Indique los apellidos del contacto">
  </div>
  <div class="form-group">
    <label for="telephone">Teléfono</label>
    <input [(ngModel)]="telephoneTxt" type="text" class="form-control" id="telephone" name="telephone" placeholder="Indique el teléfono 999-999-999">
  </div>
  <button [disabled]="noData()" (click)="saveNewContact()" type="submit" class="btn btn-primary mr-1">Guardar</button>
  <button [disabled]="noData()" (click)="resetContact()" type="submit" class="btn btn-secondary">Cancelar</button>
</form>
