<ul class="list-group">
  <contact-item *ngFor="let contact of getContacts()" id="{{contact.id}}" firstNameTxt="{{contact.firstName}}" lastNameTxt="{{contact.lastName}}" telephoneTxt="{{contact.tel}}"></contact-item>
</ul>
