<form #form="ngForm">
  <div class="form-group">
    <label for="firstName">Nombre</label>
    <input [(ngModel)]="contact.firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="Indique el nombre del contacto">
  </div>
  <div class="form-group">
    <label for="lastName">Apellidos</label>
    <input [(ngModel)]="contact.lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Indique los apellidos del contacto">
  </div>
  <div class="form-group">
    <label for="telephone">Teléfono</label>
    <input [(ngModel)]="contact.tel" type="text" class="form-control" id="telephone" name="telephone" placeholder="Indique el teléfono 999-999-999">
  </div>
    <div class="row">
      <div class="col-md-6">
        <button [disabled]="form.pristine" (click)="save()" type="submit" class="btn btn-primary mr-1">Guardar</button>
        <button (click)="cancel()" type="submit" class="btn btn-secondary">Cancelar</button>
      </div>
      <div class="col-md-6 text-right">
        <button (click)="remove()" type="button" class="btn btn-outline-danger">Eliminar</button>
      </div>
  </div>
</form> 