<contact-app>
  <div class="row">
    <div class="col-md-6">
      <h5>Nuevo contacto</h5>
      <contact-add></contact-add>
    </div>
    <div class="col-md-6">
      <h5>Listado de contactos</h5>
      <contact-list></contact-list>        
    </div>
  </div>
</contact-app>
