li {
  display: grid;
  grid-template-columns: auto 25px;
  grid-template-rows: auto;
  grid-template-areas:
  	"nombre boton"
  	"telefono boton";
}

li:hover {
	background-color: rgba(255, 253, 180, 0.075);
}

span.nombre {
  grid-area: nombre;
}

span.telefono {
  grid-area: telefono;
  font-size: small;
  color: gray;
}

button {
  grid-area: boton;
}