<li class="list-group-item" (click)="goDetail()">
	<span class="nombre">{{firstNameTxt}} {{lastNameTxt}}</span>
	<span class="telefono">{{telephoneTxt}}</span>
	<button (click)="removeContact();$event.stopPropagation()" type="button" class="close" aria-label="Eliminar contacto" title="Eliminar contacto">
  		<i class="fa fa-trash"></i>
	</button>
</li>
